<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/css/styles.css'/>
        <link rel="icon" href="/img/weather.png"/>
        <body>
            <div class="main-content">
                {{>header}}
                <p>This site uses data from mapbox.com and weatherstack.com</p>
                <img src="/img/index.jpg" class="image" />
             </div>
            {{>footer}}
        </body>
    </head>
</html>